body{
	margin: 0;
}
/*Хедер*/
header{
    display: flex;
    justify-content: space-between;
	background-color: #A0C3FF;
    width:100%;
    max-width:1180px;
    height: 100px;
    margin: 0 auto;
}
header h2{
	width: 300px;
	padding-left: 30px;
	padding-top: 30px;
}
header h2,header p{
    color: white;
    margin: 0;
}
header div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 300px;
	height: 90px;
}
/*Хедер*/
/*main*/
main{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 590px;
	height: 400px;
	background-color: #A0C3FF;
	margin-top: 80px; 

}
a{
	font-size: 20px;
	color: white
}
/*main*/
